{{<base-template}}
{{$content}}
    <h1>Proyecto de Sistema de Inscripciones</h1>
    <h2>Navegacion</h2>
    <a href="SistemaInscripciones/groups/listGroups.jsp">Grupos</a><br>
    <a href="">Profesores</a><br>
    <a href="">Salones</a><br>
    <a href="editSubject.jsp">Materias</a><br>
    <img src="https://mscorpmedia.azureedge.net/mscorpmedia/2016/04/Invisible-revolution-GIF.gif"
            alt="ComputerGraphic" style="position: absolute;top:200px;
            right:200px;">
    {{$app}}{{/app}}
{{/content}}
{{/base-template}}