<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        {{#cssUriList}}
            <link rel="stylesheet" type="text/css" href="{{urlBase}}{{.}}">
        {{/cssUriList}}
    </head>
    <body id="app">
        {{$content}}{{/content}}
        {{#jsUriList}}
            <script src="{{urlBase}}{{.}}"></script>
        {{/jsUriList}}
    </body>
</html>