<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" type="text/css" href="{{cssUri}}">
    </head>
    <body id="app">
        {{$content}}{{/content}}
        <script src="{{jsUri}}"></script>
    </body>
</html>