{{<app-template}}
{{$app}}
    <img src="https://mscorpmedia.azureedge.net/mscorpmedia/2016/04/Invisible-revolution-GIF.gif"
            alt="ComputerGraphic" style="position: absolute;top:200px;
            right:200px;">
{{/app}}
{{/app-template}}
