{{<base-template}}
{{$content}}
    {{#hasError}}
        <p>{{error}}</p>
    {{/hasError}}
    <form action="login" method="post">
        <input type="text" name="username"></br>
        <input type="password" name="password"></br>
        <button action="submit">Iniciar Sesi&oacute;n</button>
    </form>
{{/content}}
{{/base-template}}
