{{<base}}
{{$content}}
<form action="/login" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <button action="submit">Iniciar Sesi&oacute;n</button>
</form>
{{/content}}
{{/base}}
