<nav>
    <a href="{{urlBase}}/groups/listGroups.jsp">Grupos</a>
    <a href="{{urlBase}}/teachers">Profesores</a>
    <a href="{{urlBase}}/listclassrooms.jsp">Salones</a>
    <a href="{{urlBase}}/editSubject.jsp">Materias</a>
</nav>