{{<base}}
{{$content}}
<form action="/login" method="post">
    <label for="first-name">Nombre(s)</label>
    <input type="text" name="first-name" id="first-name">
    <label for="last-name">Apellidos</label>
    <input type="text" name="last-name" id="last-name">
    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" id="username">
    <label for="password">Contrase&ntilde;a</label>
    <input type="password" name="password" id="password">
    <label for="confirm">Confirmar contrase&ntilde;a</label>
    <input type="password" name="confirm" id="confirm">
    <button action="submit">Registrar</button>
</form>
{{/content}}
{{/base}}
