{{<app-template}}
{{$app}}
    <form action="{{urlBase}}/teachers?action=delete" method="POST">
        <a href="{{urlBase}}/teachers/add">Agregar Nuevo</a>
        <button type="submit">Borrar seleccionados</button>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nomina</th>
                    <th>Nombre(s)</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th></th>
                <tr>
            </thead>
            <tbody>
            {{#teachers}}
                <tr>
                    <td><input type="checkbox" name="delete" value="{{id}}"></td>
                    <td>{{nomina}}</td>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td>{{email}}</td>
                    <td><a href="{{urlBase}}/teachers/edit?id={{id}}">Modificar</a></td>
                </tr>
            {{/teachers}}
            </tbody>
        </table>
        <button type="submit">Borrar seleccionados</button>
    </form>
{{/app}}
{{/app-template}}
